@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "anton", sans-serif;
    background-color: white;
}

header {
    border-radius: 6px;
    background-color: rgb(27, 25, 25);
}   

h1 {
    text-align: center;
    color: crimson;
    font-size: 6rem;
}

h3 {
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
}